<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../assets/css/figma-styles.css" />
  </head>
  <body>
    <div class="screen">
      <div class="view">
        <img class="back-previous" src="img/back-previous.svg" />
        <div class="body">
          <div class="text-wrapper">รายรับ</div>
          <div class="user-input">
            <div class="div">
              <div class="text-wrapper-2">เงินเดือน (บาท)</div>
              <div class="rectangle"></div>
            </div>
            <div class="div">
              <div class="text-wrapper-2">โบนัส (บาท)</div>
              <div class="rectangle"></div>
            </div>
            <div class="div">
              <div class="text-wrapper-2">รายได้เสริม (บาท)</div>
              <div class="rectangle"></div>
            </div>
          </div>
          <div class="div-wrapper"><div class="text-wrapper-3">ถัดไป</div></div>
        </div>
        <div class="trees-flowers">
          <div class="tree-mask">
            <img class="img" src="img/rectangle-29.svg" /> <img class="tree-group" src="img/tree-group.png" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
